<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <ApplicationRevision>45</ApplicationRevision>
    <ApplicationVersion>1.0.2.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Unc</InstallFrom>
    <InstallUrl>\\clbrfs\Operational\PRODUÇÃO\PCP\RUAN\5 - Programs\rnzNegativeObserver\</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <ManifestCertificateThumbprint>B53BE3F15509476FF3418B16C768FEEAB9F806A2</ManifestCertificateThumbprint>
    <ManifestKeyFile>rnzNegativeObserver_TemporaryKey.pfx</ManifestKeyFile>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>rnzNegativeObserver</ProductName>
    <PublishDir>bin\Release\net9.0-windows\win-x86\app.publish\</PublishDir>
    <PublishUrl>\\clbrfs\Operational\PRODUÇÃO\PCP\RUAN\5 - Programs\rnzNegativeObserver\</PublishUrl>
    <PublisherName>Ruan</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <RuntimeIdentifier>win-x86</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetCulture>pt-BR</TargetCulture>
    <TargetFramework>net9.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2026-01-23T11:51:49.1299824Z||;True|2026-01-22T10:09:31.1174332-03:00||;True|2026-01-22T09:34:41.1087088-03:00||;True|2026-01-20T10:17:00.1421802-03:00||;True|2026-01-20T07:25:47.7615433-03:00||;True|2026-01-19T07:51:55.7414204-03:00||;True|2026-01-16T13:57:28.5534743-03:00||;True|2026-01-15T07:30:57.8376555-03:00||;True|2026-01-13T16:51:10.9906773-03:00||;True|2026-01-13T10:52:15.5086027-03:00||;True|2026-01-13T09:47:02.9256254-03:00||;True|2026-01-13T07:32:35.9780831-03:00||;True|2026-01-12T15:06:18.6930322-03:00||;True|2026-01-12T12:39:21.1894948-03:00||;False|2026-01-12T12:35:31.9040123-03:00||;True|2026-01-09T09:44:43.2220238-03:00||;True|2026-01-09T08:08:48.9971437-03:00||;True|2026-01-06T15:48:22.4500963-03:00||;True|2025-12-16T13:41:07.0650809-03:00||;True|2025-12-16T10:44:17.9970083-03:00||;True|2025-12-10T11:11:32.6951207-03:00||;</History>
  </PropertyGroup>
</Project>